/* body {
    font-family: monospace, sans-serif;
    font-size: 1.5rem;
    padding: 20px 50px;
  background-image: linear-gradient(-135deg, #FCE38A 0%, #F38181 100%);
  }
  
  p {
    font-weight: bolder;
    font-size: 2rem;
    text-transform: uppercase;
  } */
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    /* padding:2px; */
  }
  
  .square-bullets {
    list-style: square;
    margin: 0px 10px 0 20px;
  }
  
  .character-bullets,
  .character-bullets-2,
  .character-bullets-3 {
      list-style: none;
  }
  
  .character-bullets li::before {
    content: "✕";
    margin: 0px 20px 0 0px;
    color: white;
  }
  
  .character-bullets-2 li::before {
    content: "👎";
    margin: 0px 20px 0 0px;
  }
  
  .character-bullets-3 li::before {
    content: "❤";
    margin: 0px 20px 0 0px;
    color: pink;
    font-size: 30px;
  }
  /* ======================================================================= */
  